<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Symfony docker</title>
    </head>
<body>
    <h1>
        <a href="https://github.com/eko/docker-symfony" target="_blank">docker-symfony</a>
    </h1>
    <p>
        Docker for symfony development<br>
    </p>
    <h2>Index</h2>
    <ul>
        <li><a href="http://${NGINX_SYMFONY_SERVER_NAME}" target="_blank">Symfony</a></li>
    </ul>
</body>
</html>
